<div class="card">
  <div class="card-header">
    All Positions</div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr class="table-header">
          <th  />
          <th >Ticker</th>
          <th>Company</th>
          <th>Sector</th>
          <th>Entry</th>
          <th>Fund </th>
          <th>Avg</th>
          <th>Spot</th>
          <th>Shares</th>
          <th>Book Value</th>
          <th>Market Value</th>
          <th>gain/loss</th>
          <th>gain/loss(%) </th>
          <th>Analyst</th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% totalBook = 0%>
        <% totalMarket = 0%>
        <% @positions.each do |position| %>
          <% stock = @stocks[position.ticker]["quote"]%>
          <% bookValue = position.averageCost %>
          <% totalBook += bookValue%>
          <% marketValue = stock["latestPrice"] * position.totalShares%>
          <% totalMarket += marketValue%>
          <tr class="position-row">
            <td class="plus-dropdown" id="<%= position.ticker %>">+</td>
            <td><a href="https://ca.finance.yahoo.com/quote/<%=position.ticker%>"> <%= position.ticker %></a></td>
            <td><%= stock["companyName"].truncate(13) %></td>
            <td><%= position.sector.truncate(13) %></td>
            <td><%= position.created_at.strftime("%m/%d/%Y")  %></td>
            <td><%= position.fund.name %> </td>
            <td><%= number_to_currency(position.averagePrice) %></td>
            <td><%= number_to_currency(stock["latestPrice"]) %></td>
            <td><%= number_with_delimiter(position.totalShares, :delimiter => ',') %> </td>
            <td><%= number_to_currency(bookValue/1000)  %></td>
            <td><%= number_to_currency( marketValue/1000)  %> </td>
            <%
        pnL = marketValue - bookValue
        pnLPercent = marketValue / bookValue
        if (pnL) > 0 
            pnlClass = "positive" 
          else
            pnlClass = "negative" 
          end
        %>
            <td class="<%= pnlClass %>">$<%= sprintf("%+.1f",((marketValue - bookValue)/1000)) %></td>
            <td class="<%= pnlClass %>"><%= sprintf("%+.1f", (((marketValue / bookValue)-1) * 100).round(1)) %>%</td>
            <td><a href="/users/<%= position.user.id %>"><%= position.user.last_name %></a></td>
            <td><%= link_to 'Buy | Short | Sell | Cover', change_position_path(:id => position.id) %></td>
          </tr>
          <% position.transactions.each do |transaction| %>
            <% tBook = transaction.price * transaction.shares %>
            <% tMarket = stock["latestPrice"] * transaction.shares%>
            <tr class=<%=transaction.ticker %> id="transaction-table">
              <td />
              <td />
              <td />
              <td />
              <td />
              <td><%= transaction.created_at.strftime("%m/%d/%Y")   %></td>
              <td><%= number_to_currency(transaction.price) %></td>
              <td />
              <td><%= number_with_delimiter(transaction.shares, :delimiter => ',') %></td>
              <td><%= number_to_currency(tBook/1000) %> </td>
              <td><%= number_to_currency(tMarket/1000) %></td>
              <td><%= number_to_currency( (tBook - tMarket)/1000) %> </td>
              <td><%= ((((tBook / tMarket)-1) * 100).round(1)) %> %</td>
              <td><a href="/users/<%= position.user.id %>"><%= transaction.user.last_name %></a></td>
            </tr>
          <% end %>
        <% end %>
        <tr >
          <td></td>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency(totalBook/1000) %></td>
          <td><%= number_to_currency(totalMarket/1000) %></td>
          <td><%= number_to_currency((totalBook - totalMarket)/1000) %></td>
          <td><%= (((totalMarket / totalBook )-1) * 100).round(1) %> %</td>
          <td></td>
          <td colspan="4"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

 <!-- for each of the funds write the positions -->
<% @funds.each do |fund| %>

  <% totalBook = 0%>
  <% totalMarket = 0%>
  <% positions = fund.positions.where(user_id: current_user.id)%>
  <!-- only print out if there are 1 or more positions -->
  <% if positions.length > 0 %>
  <div class="card">
    <div class="card-header"><%= fund.name %></div>
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr class="table-header">
            <th  />
            <th >Ticker</th>
            <th>Company</th>
            <th>Sector</th>
            <th>Entry</th>
            <th>Fund </th>
            <th>Avg</th>
            <th>Spot</th>
            <th>Shares</th>
            <th>Book Value</th>
            <th>Market Value</th>
            <th>gain/loss</th>
            <th>gain/loss(%) </th>
            <th>Analyst</th>
            <th colspan="2"></th>
          </tr>
        </thead>

<tbody>


         <% positions.each do |position| %>
             <% stock = @stocks[position.ticker]["quote"]%>
             <% bookValue = position.averageCost %>
             <% totalBook += bookValue%>
             <% marketValue = stock["latestPrice"] * position.totalShares%>
             <% totalMarket += marketValue%>

             <tr class="position-row">
               <td class="plus-dropdown" id="<%= position.ticker %>">+</td>
               <td><a href="https://ca.finance.yahoo.com/quote/<%=position.ticker%>"> <%= position.ticker %></a></td>
               <td><%= stock["companyName"].truncate(13) %></td>
               <td><%= position.sector.truncate(13)%></td>
               <td><%= position.created_at.strftime("%m/%d/%Y")  %></td>
               <td><%= position.fund.name %> </td>
               <td />
               <td><%= number_to_currency(position.averagePrice) %></td>
               <td><%= number_to_currency(stock["latestPrice"]) %></td>
               <td><%= number_with_delimiter(position.totalShares, :delimiter => ',') %> </td>
               <td><%= number_to_currency(bookValue/1000)  %></td>
               <td><%= number_to_currency( marketValue/1000)  %> </td>
               <%
       pnL = marketValue - bookValue
       pnLPercent = marketValue / bookValue
       if (pnL) > 0
           pnlClass = "positive"
         else
           pnlClass = "negative"
         end
       %>
               <td class="<%= pnlClass %>">$<%= sprintf("%+.1f",((marketValue - bookValue)/1000)) %></td>
               <td class="<%= pnlClass %>"><%= sprintf("%+.1f", (((marketValue / bookValue)-1) * 100).round(1)) %>%</td>
               <td><a href="/users/<%= position.user.id %>"><%= position.user.last_name %></a></td>
               <td><%= link_to 'Buy | Short | Sell | Cover', change_position_path(:id => position.id) %></td>
             </tr>
             <% position.transactions.each do |transaction| %>
               <% tBook = transaction.price * transaction.shares %>
               <% tMarket = stock["latestPrice"] * transaction.shares%>
               <tr class=<%=transaction.ticker %> id="transaction-table">
                 <td />
                 <td />
                 <td />
                 <td />
                 <td><%= transaction.created_at.strftime("%m/%d/%Y")   %></td>
                 <td><%= number_to_currency(transaction.price) %></td>
                 <td />
                 <td><%= number_with_delimiter(transaction.shares, :delimiter => ',') %></td>
                 <td><%= number_to_currency(tBook/1000) %> </td>
                 <td><%= number_to_currency(tMarket/1000) %></td>
                 <td><%= number_to_currency( (tBook - tMarket)/1000) %> </td>
                 <td><%= ((((tBook / tMarket)-1) * 100).round(1)) %> %</td>
                 <td><a href="/users/<%= position.user.id %>"><%= transaction.user.last_name %></a></td>
               </tr>
             <% end %>
             <%end%>
           <tr >
             <td></td>
             <td>Total</td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
             <td></td>
            
            
             <td><%= number_to_currency(totalBook/1000) %></td>
             <td><%= number_to_currency(totalMarket/1000) %></td>
             <td><%= number_to_currency((totalBook - totalMarket)/1000) %></td>

             <td><%= (((totalMarket / totalBook )-1) * 100).round(1) %> %</td>
             <td></td>
             <td colspan="4"></td>
           </tr>

         </tbody>
      </table>
    </div>
  </div>
  <% end %>

<% end %>
