<div class="card">
  <div class="card-header"> View Positions</div>
  <div class="card-body">


    <form action="/positions" method="get">
      <div class="form-group form-inline">
        <label for="exampleInputEmail1">Analyst: &nbsp;  </label>
        <select name="id" id="id" onchange="this.form.submit()">
          <% @users = User.all%>
          <% @users.each do |user| %>
          <% if params[:id].to_i == user.id %>
          <option selected="selected" value="<%= user.id %>"><%= user.full_name%></option>
          <% else %>
          <option value="<%= user.id %>"><%= user.full_name%></option>
          <% end %>
          <% end %>
        </select>
      </div>

    </form>

  </div>
</div>


<div class="card">
  <div class="card-header">
    All Positions
  </div>
  <div class="card-body card-table">
    <%= render 'layouts/table' %>
  </div>
</div>

<% @funds.each do |fund| %>
<% totalBook = 0%>
<% totalMarket = 0%>
<% @positions = fund.positions.where(user_id: params[:id])%>


<% if @positions.length > 0 %>
<div class="card">
  <div class="card-header"><%= fund.name %></div>
  <div class="card-body card-table">
    <%= render 'layouts/table' %>
  </div>
</div>
<% end %>
<% end %>