<div class="card">
  <div class="card-header"> Position Details </div>
  <div class="card-body">
    <% @stock = StockQuote::Stock.raw_quote(@position.ticker)[@position.ticker]["quote"] %>
    <p><strong>Ticker:</strong><%= @stock["symbol"] %></p>
    <p><strong>Company:</strong><%= @stock["companyName"] %></p>
    <p><strong>Primary Exchange:</strong><%= @stock["primaryExchange"] %></p>
    <p><strong>Position:</strong><%= @position.positionType %></p>
    <p><strong>PM:</strong><a href="/users/<%= @position.user.id %>"> <%= @position.user.full_name %></a></p>
    <p>
      <strong>Fund:</strong>
      <a href="/funds/<%= @position.fund.id%>%"><%= @position.fund.name %></a>
    </p>
    <p>
      <strong>Status:</strong>
      <%= @position.status %>
    </p>
    <p>
      <strong>Opened:</strong>
      <%= dateFormat(@position.created_at) %></a>
  </p>
  <% @transactions = @position.transactions%>
  <%= render 'layouts/tradesTable' %>
</div>
</div>
