<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @stock.quote %>
</p>

<p>
  <strong>Companyname:</strong>
  <%= @stock.companyName %>
</p>

<p>
  <strong>Primaryexchange:</strong>
  <%= @stock.primaryExchange %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @stock.sector %>
</p>

<p>
  <strong>Calculationprice:</strong>
  <%= @stock.calculationPrice %>
</p>

<p>
  <strong>Open:</strong>
  <%= @stock.open %>
</p>

<p>
  <strong>Close:</strong>
  <%= @stock.close %>
</p>

<p>
  <strong>High:</strong>
  <%= @stock.high %>
</p>

<p>
  <strong>Low:</strong>
  <%= @stock.low %>
</p>

<p>
  <strong>Latestprice:</strong>
  <%= @stock.latestPrice %>
</p>

<p>
  <strong>Latestsource:</strong>
  <%= @stock.latestSource %>
</p>

<p>
  <strong>Latesttime:</strong>
  <%= @stock.latestTime %>
</p>

<p>
  <strong>Latestvolume:</strong>
  <%= @stock.latestVolume %>
</p>

<p>
  <strong>Iexrealtimeprice:</strong>
  <%= @stock.iexRealTimePrice %>
</p>

<p>
  <strong>Previousclose:</strong>
  <%= @stock.previousClose %>
</p>

<p>
  <strong>Changepercent:</strong>
  <%= @stock.changePercent %>
</p>

<p>
  <strong>Iexvolume:</strong>
  <%= @stock.iexVolume %>
</p>

<p>
  <strong>Avgtotalvolume:</strong>
  <%= @stock.avgTotalVolume %>
</p>

<p>
  <strong>Iexbidprice:</strong>
  <%= @stock.iexBidPrice %>
</p>

<p>
  <strong>Iexbidsize:</strong>
  <%= @stock.iexBidsize %>
</p>

<p>
  <strong>Iexaskprice:</strong>
  <%= @stock.iexAskPrice %>
</p>

<p>
  <strong>Iexasksize:</strong>
  <%= @stock.iexAskSize %>
</p>

<p>
  <strong>Marketcap:</strong>
  <%= @stock.marketCap %>
</p>

<p>
  <strong>Peratio:</strong>
  <%= @stock.peRatio %>
</p>

<p>
  <strong>Week52high:</strong>
  <%= @stock.week52High %>
</p>

<p>
  <strong>Week52low:</strong>
  <%= @stock.week52Low %>
</p>

<p>
  <strong>Ytdchange:</strong>
  <%= @stock.ytdChange %>
</p>

<p>
  <strong>Position:</strong>
  <%= @stock.position %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
