 <div class="card">
      <div class="card-header">
         View Trades
       </div>
       <div class="card-body">
      <form action="/transactions" method="get">
      <div class="form-group form-inline">
        <label for="exampleInputEmail1">Choose Advisor: &nbsp; </label>
        <select class="form-control" name="id" id="id" onchange="this.form.submit()">
          <% @users = User.all%>
          <option  selected value> -- all advisors-- </option>
          <% @users.each do |user| %>
          <% if params[:id].to_i == user.id %>
          <option selected="selected" value="<%= user.id %>"><%= user.full_name%></option>
          <% else %>
          <option value="<%= user.id %>"><%= user.full_name%></option>
          <% end %>
          <% end %>
        </select>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header"> Transaction History </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Ticker</th>
          <th>Type</th>
          <th>Shares</th>
          <th>Price</th>
          <th>Cost</th>
          <th>Fund</th>
          <th>Reason</th>
          <th>Owner </th>
          <th />
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.created_at.strftime("%m/%d/%Y  %I:%M%p") %></td>
            <td><%= transaction.ticker %></td>
            <td><%= transaction.tradeType %></td>
            <td><%= commaNumber(transaction.shares) %></td>
            <td><%= number_to_currency(transaction.price) %></td>
            <td> <%= number_to_currency(transaction.cost) %></td>
            <td><%= transaction.fund.name %></td>
            <td><%= transaction.reason %></td>
            <td><%= transaction.user.full_name %></td>
            <td><%= link_to 'Details', transaction %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
