<div class="card">
<div class="card-header"> Transaction Details </div>
<div class="card-body">
<p><strong>ID:</strong> <%= @transaction.id %></p>


<p><strong>Analyst: </strong> <a href="/users/<%=@transaction.user.id %>"> <%= @transaction.user.first_name + " " + @transaction.user.last_name %> </a> </p>
<p><strong>Fund: </strong> <a href="/funds/<%=@transaction.fund.id %>"><%= @transaction.fund.name %></a> </p>

<p>
  <strong>Shares:</strong>
  <%= number_with_delimiter(@transaction.shares, :delimiter => ',') %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency @transaction.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @transaction.reason %>
</p>

<p>
  <strong>Position:</strong>
  <a href="/positions/<%=@transaction.position.id %>"><%= @transaction.position.fund.name + " : " + @transaction.position.ticker %></a> 
</p>

</div>
</div>