<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fund.name %>
</p>

<p>
  <strong>Strategy:</strong>
  <%= @fund.strategy %>
</p>

<p>
  <strong>Aum:</strong>
  $<%= number_with_delimiter(@fund.AUM, :delimiter => ',') %>
</p>

<p>
  <strong>Inception:</strong>
  <%= @fund.inception %>
</p>

<p>
  <strong>Portfolio Manager:</strong>
  <%= @fund.pm.first_name + " " + @fund.pm.last_name %>
</p>

<h1>Positions</h1>

<table>
  <thead>
    <tr class="table-header">
      <th />
      <th>Ticker</th>
      <th>Entry</th>
      <th>Cost </th>
      <th>Spot</th>
      <th>Shares</th>

      <th>Analyst</th>
      <th>Fund</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @fund.positions.each do |position| %>
      <tr class="position-row">
      <td> + </td>
        <td><a href="https://ca.finance.yahoo.com/quote/<%=position.ticker%>"> <%= position.ticker %></a></td>
        <td><%= position.created_at.strftime("%d/%m/%Y")  %></td>
        <td><%= number_to_currency(@totals["#{position.id}"]["average"]) %></td>
        <td></td>
        <td><%= number_with_delimiter(@totals["#{position.id}"]["total"], :delimiter => ',') %> </td>
        <td><%= position.user.first_name + " " + position.user.last_name %></td>
        <td><%= position.fund.name %></td>
        <td><%= link_to 'Show', position %></td>
        <td><%= link_to 'Edit', edit_position_path(position) %></td>
        <td><%= link_to 'Close Position', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% position.transactions.each do |transaction| %>
      <tr> 
      <td />
      <td />
      <td><%= transaction.created_at.strftime("%d/%m/%Y")  %></td>
        <td><%= number_to_currency(transaction.price) %></td>
        <td />
        <td><%= number_with_delimiter(transaction.shares, :delimiter => ',') %></td>
      </tr>
            
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_fund_path(@fund) %> |
<%= link_to 'Back', funds_path %>
