
<div class="card">
  <div class="card-header">
    
    <%= @fund.name %>
  </div>
  <div class="card-body">
    <p>
      <strong>Strategy:</strong>
      <%= @fund.strategy %>
    </p>
    <p>
      <strong>Aum:</strong>
      $<%= number_with_delimiter(@fund.AUM, :delimiter => ',') %>
    </p>
    <p>
      <strong>Inception:</strong>
      <%= @fund.inception %>
    </p>
    <p>
      <strong>Portfolio Manager:</strong>
      <%= @fund.pm.first_name + " " + @fund.pm.last_name %>
    </p>
  </div>
</div>

<br />

<div class="card">
<div class="card-header">Active Positions</div>
<div class="card-body">
<p>(thousands)</p>
<table class="table">
  <thead class="thead-dark">
    <tr class="table-header">
      <th  />
      <th >Ticker</th>
      <th>Company</th>
      <th>Entry</th>
      <th>Avg</th>
      <th>Spot</th>
      <th>Shares</th>
      <th>Book Value</th>
      <th>Market Value</th>
      <th>gain/loss</th>
      <th>gain/loss(%) </th>
      <th>Analyst</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% totalBook = 0%>
    <% totalMarket = 0%>
    <% @fund.positions.each do |position| %>
      <% stock = @stocks[position.ticker]["quote"]%>
      <% name = stock["companyName"] %>
      <% name.slice! "Company" %>
      <% name.slice! "Inc." %>
      <% name.slice! "Corporation" %>
      <% bookValue = @totals["#{position.id}"]["average"] *  @totals["#{position.id}"]["total"] %>
      <% totalBook += bookValue%>
      <% marketValue = stock["latestPrice"] * @totals["#{position.id}"]["total"]%>
      <% totalMarket += marketValue%>
      <tr class="position-row">
        <td class="plus-dropdown"> + </td>
        <td><a href="https://ca.finance.yahoo.com/quote/<%=position.ticker%>"> <%= position.ticker %></a></td>
        <td><%= name %>
          <td><%= position.created_at.strftime("%m/%d/%Y")  %></td>
          <td><%= number_to_currency(@totals["#{position.id}"]["average"]) %></td>
          <td><%= number_to_currency(stock["latestPrice"]) %></td>
          <td><%= number_with_delimiter(@totals["#{position.id}"]["total"], :delimiter => ',') %> </td>
          <td><%= number_to_currency(bookValue/1000)  %></td>
          <td><%= number_to_currency( marketValue/1000)  %> </td>
          <td><%= number_to_currency((bookValue - marketValue)/1000) %></td>
          <td><%= (((bookValue / marketValue)-1) * 100).round(1) %> %</td>
          <td><%= position.user.last_name %></td>
          <td><%= link_to 'Details', position %></td>
          <td><%= link_to 'Sell/Cover', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% position.transactions.each do |transaction| %>
          <% tBook = transaction.price * transaction.shares %>
          <% tMarket = stock["latestPrice"] * transaction.shares%>
          <tr id=<%=transaction.ticker %>>
            <td />
            <td />
            <td />
            <td><%= transaction.created_at.strftime("%m/%d/%Y")   %></td>
            <td><%= number_to_currency(transaction.price) %></td>
            <td />
            <td><%= number_with_delimiter(transaction.shares, :delimiter => ',') %></td>
            <td><%= number_to_currency(tBook/1000) %> </td>
            <td><%= number_to_currency(tMarket/1000) %></td>
            <td><%= number_to_currency( (tBook - tMarket)/1000) %> </td>
            <td><%= (((tBook / tMarket)-1) * 100).round(1) %> %</td>
          </tr>
        <% end %>
      <% end %>
      <tr class="table-header">
        <th></th>
        <th>Total</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= number_to_currency(totalBook) %></th>
        <th><%= number_to_currency(totalMarket) %></th>
        <th><%= number_to_currency(totalBook - totalMarket) %></th>
        <th><%= (((totalBook / totalMarket)-1) * 100).round(1) %> %</th>
        <th></th>
        <th colspan="4"></th>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
