    <%

exposures = {}
aum = @positions.sum('averageCost')

@positions.each do |position|
  if exposures.key?(position.sector)
  sum = exposures[position.sector] + position.averageCost.round
  exposures[position.sector] =  sum
  else 
    exposures[position.sector] = position.averageCost.round
  end
end
%>
<div class="card-deck">
  <div class="card">
    <div class="card-header">
      Fund Details
    </div>
    <div class="card-body">
      <p>
        <strong>Name:</strong>
        <%= @fund.name %>
      </p>
      <p>
        <strong>Strategy:</strong>
        <%= @fund.strategy %>
      </p>
      <p>
        <strong>AUM:</strong>
        <%= number_to_currency(aum) %>
      </p>
      <p>
        <strong>Inception:</strong>
        <%= @fund.inception.strftime("%m/%Y") %>
      </p>
      <p>
        <strong>Portfolio Manager:</strong>
        <a href="/users/<%=@fund.pm.id %>"> <%= @fund.pm.first_name + " " + @fund.pm.last_name %> </a>
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-header"> Sector Exposure </div>

      <%= pie_chart exposures , library: { pieSliceText: 'value-and-percentage',  legend: "none" }  %>
  </div>
  <div class="card">
  <div class="card-header">Largest Positions</div>
  <%= bar_chart (@positions.group(:ticker).sum(:averageCost).sort_by{|_key, value| value}).last(10) %>
  <div class="card-body"> </div>
  </div>
</div>

<div class="card">
  <div class="card-header">
Active Positions
  </div>
  <div class="card-body">
    <%= render 'layouts/table' %>
  </div>

  <div class="card-footer" style="text-align: right">
    <%= link_to 'New Trade', new_transaction_path  %>
  </div>
</div>