<div class="card">
  <div class="card-header">
    <%= @fund.name %>
  </div>
  <div class="card-body">
    <p>
      <strong>Strategy:</strong>
      <%= @fund.strategy %>
    </p>
    <p>
      <strong>Aum:</strong>
      <%= number_to_currency(@fund.AUM) %>
    </p>
    <p>
      <strong>Inception:</strong>
      <%= dateFormat(@fund.inception) %>
    </p>
    <p>
      <strong>Portfolio Manager:</strong>
      <a href="/users/<%=@fund.pm.id %>"> <%= @fund.pm.first_name + " " + @fund.pm.last_name %> </a>
    </p>

    <a href="/transactions/new" class="btn btn-secondary active" role="button" aria-pressed="true">Add Position</a>

  </div>
</div>
<div class="card">
  <div class="card-header">Active Positions</div>
  <div class="card-body">
    <p class="unit">(Thousands)</p>
    <%= render 'table' %>
  </div>
